*{
    margin: 0;
    padding: 0;
    list-style: none;
}
body{
background: rgb(0, 0, 0);
}
.container{
    width: 1150px;
    margin: 0 auto;
}
div.header{
    color: #F9FAF8;
    font-family: Arial, Helvetica, sans-serif;
    background: #1f2937;
    padding-bottom: 100px;
}
img.header-content-right{
   width: 500px;
   height: 270px;
}
.header-logo{
    font-size: 24px;
    color: #F9FAF8;
}
.header-title{
    font-size: 48px;
}
ul.nav-menu{
    display: flex;
}
ul.nav-menu li a{
margin-right: 25px;
font-size: 18px;
color:#E5E7EB;
text-decoration: none;
}

.header-nav{
    display: flex;
    justify-content: space-between;
}
.header,.section-one,.section-two,.section-three,.footer{
    padding: 20px 100px;
}
.header-content{
    padding-top: 100px;
    display: flex;
    justify-content: space-between;
}
.button-signup{
    font-size: 14px;
    text-decoration: none;
    background: #3882F6;
    color: #F9FAF8;
    padding: 10px;
    display: block;
    width: 90px;
    margin-top: 10px;
    border-radius: 10px;
}
div.section-one{
    background:#F9FAF8;
    text-align: center;
    padding-bottom: 120px;
}
div.wrapping-group{
    display: flex;
    justify-content: space-around;
}
.group-box-blue{
    width:170px;
    height: 200px;
    border: 4px solid #3882F6;
    border-radius: 12px;
    margin-top: 40px;
}
.group-desc{
    width:170px;
    margin: 7px 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; 
}
.section-two{
    background: #E5E7EB;
    font-size: 36px;
    color: #1f2937;
    text-align: center;
    padding: 100px 250px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-style: italic;
}
p.quote-author{
    font-weight: bold;
    font-size: 24px;
    float: right;
}
div.section-three{
    background: #F9FAF8;
}
div.section-three-content{
    background: #3882F6;
    color:  #F9FAF8;
    margin: 30px 50px;
    text-align: center;
    padding: 30px 50px;
    border-radius: 7px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.button-signup-two{
    display: block;
    text-decoration: none;
    color:  #F9FAF8;
    border: 2px solid  #F9FAF8;
    margin: 0 50px;
    padding: 5px 25px;
    border-radius: 8px;
}
div.section-three-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
p.para-content{
    color:#E5E7EB ;
}
div.footer{
    background: #1f2937;
    color: #F9FAF8;
    text-align: center;
    font-size: 22px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 40px 0;
}
div.group-box-blue img{
    box-sizing: border-box;
    width:170px;
    height: 200px;
}